<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/apple-icon-57x57.png" %}">
    <link rel="icon" type="image/ico" sizes="48x48" href="{% static "img/favicon.ico" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "img/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static "css/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <title>
        {{ title }}
    </title>
</head>
<body>
{% include "includes/header.html" %}
  <main>
    {% block content %}Контент не подвезли :({% endblock %}
  </main>
  <div>
    <img src="{% static 'img/cute_cat.jpg' %}" width="1980" height="1303" >
  </div>

</body>
{% include "includes/footer.html" %}
</html>