# игнорируем виртуальную среду
venv

# игнорируем файлы с таким расширением так как
# у нас сайт пока что не связан с мобильными устройствами
.idea/

# нам не важен и не нужен кэш не так сильно влияет на скорость запуска
__pycache__/

# ни в коем случае не отправляем секретные данные
.env

# не стоит заливать бд на гитлаб
# git плохо работает с большими массивами двоичных данных
# может произойти потеря данных
lyceum/db.sqlite3

#сторонний игнор
.vscode/