{% load static %}
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% with request.resolver_match.view_name as view_name %}
          <li class="nav-item active">
            <a class="nav-link {% if view_name == "homepage:main" %}active{% endif %}" href="{% url "homepage:main" %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == "catalog:item_list" %}active{% endif %}" href="{% url "catalog:item_list" %}">Список товаров</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == "about:about" %}active{% endif %}" href="{% url "about:about" %}">О проекте</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == "feedback:feedback" %}active{% endif %}" href="{% url "feedback:feedback" %}">Обратная связь</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == "catalog:basket" %}active{% endif %}" href="{% url "catalog:basket" %}">Корзина</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == "person:profile" %}active{% endif %}" href="{% url "person:profile" %}">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "person:logout" %}">Выйти</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == "person:login" %}active{% endif %}" href="{% url "person:login" %}">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == "person:registration" %}active{% endif %}" href="{% url "person:registration" %}">Зарегистрироваться</a>
          </li>
          {% endif %}
          {% endwith %}
        </ul>
      </div>
    </nav>
  </header>